<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mgs_store/
    
    # Rediriger sauf pour les fichiers et dossiers existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
